<form action='/guitars/<%= @guitar["id"]%>/update' method="POST">
  <input name="make" value="<%= @guitar["make"] %>" >
  <input name="model" value="<%= @guitar["model"] %>" >
  <input name="year" value="<%= @guitar["year"] %>" >
  <input name="color" value="<%= @guitar["color"] %>" >
  <button>Update Guitar</button>
</form>

